.navbar-primary-image{
  padding: 0.3em;
  margin-right: 4.5em;
}

.navbar-primary-image>img{
  height: 100%;
}

.navbar-image{
  padding: 0.3em;
  margin-right: 0.5em;
}

.navbar-image>img{
  height: 100%;
}

.navbar{
  margin-bottom: 0px;
}

.big-button-container{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.big-green-button{
  margin-top: 1.5em;
  height: 2.5em;
  font-size: 2em;
}

.section-divider>div{
  margin-left: 13em;
  margin-right: 13em;
  margin-top: 2em;
  background: grey;
  height: 0.13em;
}

footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2488C9;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #243E82;
}
footer .container-footer{
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}