.navbar-primary-image{
  padding: 0.3em;
  margin-right: 4.5em;
}

.navbar-primary-image>img{
  height: 100%;
}

.navbar-image{
  padding: 0.3em;
  margin-right: 0.5em;
}

.navbar-image>img{
  height: 100%;
}

.navbar{
  margin-bottom: 0px;
}

.carousel-inner img{
  width: 100%;
}
