 @font-face { font-family: lato; src: url('../bootstrap/fonts/Lato-Regular.ttf'); } 
 @font-face { font-family: lato-light; src: url('../bootstrap/fonts/Lato-Light.ttf'); } 
 @font-face { font-family: lato-bold; src: url('../bootstrap/fonts/Lato-Bold.ttf');}
 @font-face { font-family: lato-italic; font-weight: bold; src: url('../bootstrap/fonts/Lato-Italic.ttf');}
 @font-face { font-family: lato-italic-light; font-weight: bold; src: url('../bootstrap/fonts/Lato-LightItalic.ttf');}

html *
{ 
   font-family: lato;
}

.navbar-primary-image{
  padding: 0.3em;
  margin-right: 4.5em;
}

.navbar-primary-image>img{
  height: 100%;
}

.navbar-image{
  padding: 0.3em;
  margin-right: 0.5em;
}

.navbar-image>img{
  height: 100%;
}

.navbar{
  margin-bottom: 0px;
  font-family: lato;
}

.navbar-default {
  background-color: #2488C9;
  border-color: #243E82;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-divider {
  height: 15px;
  margin-top: 15px;
  border-right: 1px solid #FFF;
}

p {float: left; margin-top: 5px; margin-right: 5px; font-family: lato;}
.small {font-size: 140%; line-height:20%; margin-top: 9px;}
.big {font-size: 180%; line-height:20%; margin-top: 7px;}
.italic {font-family: lato-italic}
.bold {font-family: lato-bold;}
.light {font-family: lato-light;}
.italic-light {font-family: lato-italic-light}
h1.light {font-family: lato-light;}
h4.bold {font-family: lato-bold;}
h4.xxl {font-family: lato-light; font-size: 400%; line-height:20%; margin-top: 7px;}

.text-blue {color: #243E82}
.text-blue-light {color: #2488C9}
.text-green {color: #59B71C}
.text-green-light {color: #59B71C; font-family: lato-light;}
.text-gray {color: #6B6B6B; font-family: lato-;}
.text-gray-light {color: #E4E9F4; font-family: lato;}

li {
  margin-bottom: 6px;
}

.container {
  padding-right: 60px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto;
}

.main-container{
  margin-top: 25px;
}

.big-button-container{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.big-green-button{
  margin-top: 1.5em;
  font-size: 2em;
  background-color: #59B71C;
  border: 0;
  font-family: lato-light;
  border-radius: 8px; 
}

.big-blue-button{
  margin-top: 1.5em;
  font-size: 2em;
  background-color: #2488C9;
  border: 0;
  font-family: lato-light;
  border-radius: 8px; 
}

.btn-green{
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  border: 3px solid;
  border-color: #59B71C;
  border-radius: 5px;
  color: #fff;
}

.section-divider div.inside{
  margin-left: 13em;
  margin-right: 13em;
  margin-top: 1em;
  margin-bottom: 4em;
  background: rgba(175,175,175, .7);
  height: 0.13em;
}

.section-divider-vertical div.inside{
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 13em;
  margin-bottom: 13em;
  background: gray;
  width: 0.13em;
}

.vertical-divider-right {
  border-right: 2px solid rgba(175,175,175, .7);
}


.bordered-blue{
  border: 2px solid;
  border-color: #243E82;
  width: 95%;
  padding: 15px;
  border-radius: 15px;
  color: #243E82;
  margin: 20px;
}

.bordered-green{
  border: 2px solid;
  border-color: #59B71C;
  width: 95%;
  padding: 15px;
  border-radius: 15px;
  color: #59B71C;
  margin: 20px;
}

.bordered-light{
  border: solid;
  border-color: #2488C9;
  width: 95%;
  padding: 20px;
}

.paragraph{
  padding-left: 70px;
  padding-right: 70px;
}

.paragraph div.paragraph{
  padding-left: 60px;
  padding-right: 60px;
}

.descriptor{
  padding-left: 50px;
}

.descriptor div.paragraph{
  text-align: justify;
  padding: 0px;
  margin-top: 15px;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e093";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #243E82;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e094";    /* adjust as needed, taken from bootstrap.css */
}


.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


footer {
  color: white;
  width:100%;
      height:100%;
      margin:0;
      padding:0; 
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2488C9;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #243E82;
}
footer .container-footer{
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}